<div class="users show">
   <div class="profile-container">
    <div class="user_email"><h1><%= current_user.email %></h1></div>
    <div class="current_user" id="<%= current_user.id %>"></div>
    <button id="button-orders">View my orders</button>
    
    <div id="user-container">
       <div id="user-orders"></div>
       <div id="user-orders-show"></div>
     </div>
     
    <button id="button-reviews">View my reviews</button>
    <div id="user-reviews"></div>
    <div id="user-reviews-show"></div>
    </div>
</div>
