<div class="users show">
   <div class="profile-container">
     <div class="user_email"><h1><%= current_user.email %></h1></div>
     <div class="current_user" id="<%= current_user.id %>"></div>
    
     <button id="button-orders">View my orders</button>
     <div id="user-order-container">
       <div id="user-orders"></div>
       <div id="user-orders-show"></div>
     </div>
     
     <button id="button-reviews">View my reviews</button>
     <div id="user-review-container">
       <div id="user-reviews"></div>
       <div id="user-reviews-show"></div>
     </div>
     
    </div>
</div>

<script id="order-show-template" type="text/x-handlebars-template">
 <div class="orders-container">
  <h3>Order# {{order_id}}</h3>
  
  <div id="lineitems">
  {{#each line_items}}
   {{>lineItemPartial}}
  </div>
  {{/each}}
  
  
 <p>Total: {{total}}</p>
 <p>This order was processed on {{date}}</p>
</div>
</script>

<script id="line-item-partial" type="text/x-handlebars-template">
 <div class="image-shrunk"><a href="{{product_picture_path}}"><img src="/assets{{product_picture}}"></a>
    <div class="product-name">{{product_name}}</div>
    <div class="product-price">{{product_price}}</div>
    <div class="quantity">Quantity: {{quantity}}</div>
 </div>
</script>

<script id="review-show-template" type="text/x-handlebars-template">
 <div class="reviews-container">
   <div id="review-picture"><a href="{{product_picture_path}}"><img src="/assets{{product_picture}}"></a></div>
     <div>Product Name: {{product_name}}</div>
     <div>Average Rating: {{average_rating}}</div>
     <div>You rated: {{product_rating}}</div>
     <div>Title: {{title}}</div>
     <div>Review: {{review}}</div>
 </div>
</script>