<div class="orders-index-container">
 <% current_user.orders.each do |order| %>
  <div><%= link_to "view this order", user_order_path(current_user,order)%></div>
  <div class="order-id">Order ID: <%= order.id %></div>
  <div class="order-date">Date: <%= order.updated_at %></div>
 <% end %>

</div>