<div class="about_container">
 <div class="lg_group_photo"><img src="/assets/static/lost_generation_group.jpeg"></div>
 <div class="about_section">Gatsby Design is an eyewear brand inspired by the styles and the upheaval of the 20th century to commemorate the 1925s novel, The Great Gatsy by F. Scott Fitzgerald.
  </div>
</div>


