<div class="about_container">
 <div class="lg_group_photo"><img src="/assets/static/lost_generation_group.jpeg"></div>
 <div class="about_section">Lost Generation was a term coined by Gertrude Stein that was used to describe the generation that emerged after World War I (1914-1918) also known as The Great War which resulted in more than 9 million deaths. Ernest Hemingway later used this term in his book, The Sun Also Rises, in which he said, "You are all a lost generation." In literature, the lost generation was used to refer to an exclusive group of poets, writers and artists. However, literature, poems, and arts produced during and after the Great War stems from this generation having lived and seen so many pointless and countless deaths, that it was deemed useless to stick to current values. Many lacked purpose and drive and began living recklessly. It was a drive toward hedonism which set the pace for the rest of the century. 
  </div>
</div>


