<div class="main-photo-container">
 
 <div class="main-photo-left">
   <img src="lg_homepage_main.jpeg">
 </div>
 
 <div class="main-photo-right">
   <img src="lg_homepage_main_right.jpg">
 </div>
 
</div>