/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body, html{
  font-size: 100%;
  font-family: "Helvetica", sans-serif;
 }
 
 body, html{
  margin: 0;
  padding: 0;
 }

 nav ul {
  list-style-type: none;
  padding: 0;
 }
 
 nav ul li a{
  text-decoration: none;
  color: #000;
  display: block;
  padding: .8rem 1rem;
  line-height: 1;
 }
 
 nav a:hover{
  color: gray;
 }
 
 nav ul li{
  border-bottom: 1px;
 }
 
 nav div:first-child h1{
  line-height: 0;
  padding: .8rem 0rem;
  text-align: center;
 }
 
 nav div:first-child h1, nav ul{
  margin: 0;
 }
 
 nav div:first-child img{
  height: 50px;
 }
 
 @media only screen and (min-width: 30em){
  nav{
   display: flex;
   //justify-content: space-between;
   align-items: center;
  }
  
  nav ul{
   display: flex;
   align-items: center;
  }
  
  nav div:first-child h1{
   padding: 0;
   margin: 0 1rem;
  }
  
  nav div:first-child img{
   height: 100px;
  }
  
  nav ul li a{
   padding: 1.2rem 1rem;
  }
  
  nav ul li{
   border-bottom: none;
   flex: 1 0 auto;
  }

 }



