/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, header,footer, body, nav, img, a, ul, li, h1, h2{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
 }
 
 *{box-sizing: border-box;}
 
 html{
  font-size: 14px;
 }
 
 body {
  width: 80%;
  margin: 0 auto;
  color: #444;
  font-family: "Courier new";
 }
 
 a:link, a:visited{
  color: #555;
  font-weight: 700;
  transition: .2s color ease-in-out;
 }
 
 a:hover, a:active{
  color: #999;
 }
 
 .toggle-menu{
  display: none;
 }
 
 header{
  margin: .1rem 0;
 }
 
 .site-title img{
  width: 110px;
  display: inline-block;
  vertical-align: middle;
  -webkit-filter: grayscale(90%);
  -moz-filter: grayscale(90%);
  -filter: grayscale(90%);
 }
 
 .nav-list{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
 }
 
 .nav-list>li{
  position: relative;
 }
 
 .nav-list>li:not(.has-logo):a{
  text-tranform: uppercase;
  display: block;
  padding: 1rem;
 }
 
 .nav-list ul{
  position: absolute;
  z-index: 1010;
  background-color: #fff;
  line-height: 2rem;
  left: -9999px;
 }
 
 .nav-list ul a{
  font-weight: normal;
  display: block;
  padding: .5rem 1rem;
 }
 
 .nav-list > li:hover a + ul{
  left: 0;
  top: 100%;
 }
 
 .mobile-display{
  display: none;
 }
 
 @media only screen and (max-width: 58.75rem){
  html{
   font-size: 12px;
  }
   body{
   width: 80%;
  }
  
  .mobile-display{
   display: block;
   margin: 0 auto;
  }
 }

 /* logo display flex */
 .logo-container{
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
 }
 
 .logo a img{
  display: block;
  height: 50px;
  width: 400px;
  line-height: 0;
  padding: 0;
  margin-top: 15px;
 }
 
 .main-photo-container{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 .main-photo-left img{
  height: 500px;
 }
 
 .shopping-cart img{
  height: 20px;
 }
 
 .footer-container p{
  flex: 1;
 }

 
 



