/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, html{
  font-family: "Helvetica";
 }
 /* logo display flex */
 .logo-container{
  display: flex;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  background-color: gray;
  align-items: center;
  padding: 0;
 }
 
 .logo a img{
  display: block;
  height: 40px;
  width: 300px;
  line-height: 0;
 }
 
 /* nav */
 nav ul {
  list-style: none;
  padding: 0;
  background-color: gray;
 }
 
 nav ul li a {
  color: #ddd;
  text-decoration: none;
  display: block;
  line-height: 1;
 }
 
 nav ul .compass {
  line-height: 0;
  padding: .8rem 0rem;
  text-align: center;
 }
 
 img {
    height: 60px;
    width: 100px;
 }
 
 



