// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* carts#show page */

.image-shrunk{
 display: flex;
}
.image-shrunk img{
 height: 75px;
}

.image-shrunk:hover {
 opacity: 0.5;
}

.quantity, .product-name, .product-price, .add_quantity, .decrease_quantity, .delete_from_cart {
 align-self: center;
}

.product-price, .add_quantity, .product_price, .decrease_quantity, .product-name{
 margin-left: 20px;
}

.quantity{
 margin-left: 20px;
}

.quantity-container{
 margin: 50px;
 display: flex;
 flex-direction: row;
}

.quantity_contents{
 display: flex;
}