// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about_container{
 display: flex;
 justify-content: center;
}

.lg_group_photo img{
 height: 400px;
}

.about_section{
 margin-left: 15px;
 margin-top: 10px;
}

.contact_container{
 display: flex;
 justify-content: center;
}