// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{
 display: flex;
 flex-direction: column
}

.new-review-container{
 
}

.radio-buttons{
 display: flex;
 flex-direction: row
}

#error_explanation h2{
 color: darkred;
}

.field_with_errors li {
  padding: 1px;
  background-color: darkred;
  display: table;
}

h5{
 padding: 0;
 margin: 0;
 color: darkred;
 font-family: "Courier new";
}

.user_email h1{
 display: block;
}

.profile-container{
 height: 150px;
 display: flex;
 flex-flow: column;
 justify-content: space-between;
 margin-top: 30px;

}
#button-orders, #button-reviews{
 display: block;
 margin-left: 20px;
}
