// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{
 display: flex;
 flex-direction: column
}

.radio-buttons{
 display: flex;
 flex-direction: row
}

#error_explanation h2{
 color: darkred;
}

.field_with_errors li {
  padding: 1px;
  background-color: darkred;
  display: table;
}

h5{
 padding: 0;
 margin: 0;
 color: darkred;
 font-family: "Courier new";
}

.user_email h1{
 display: block;
}

.profile-container{
 height: 1000px;
 display: flex;
 flex-flow: column;
 margin-top: 30px;
}

#button-orders, #button-reviews{
 margin-left: 20px;
}

#user-order-container{
 display: flex;
 flex-flow: row;
 justify-content: space-between;
 height: 300px;
}

#lineitems{
 display: flex;
 flex-flow: row;
 justify-content: space-evenly;
}

#orders-container{
 display: flex;
 flex-flow: row;
}

#order-picture img{
 height: 50px;
}
#order-picture:hover{
 opacity: 0.5;
}

#user-review-container{
 display: flex;
 flex-flow: row;
 justify-content: space-between;
 height: 500px;
}

#user-reviews-show{
 width: 300px;
}

#review-picture img{
 height: 50px;
}

#review-picture:hover {
 opacity: 0.5;
}



