<div class="products-container">
 
 <div class="images-container">
  <div><img src="/products/andrea.jpg"></div>
  <div><img src="/products/asinine.jpg"></div>
  <div><img src="/products/befrank.jpg"></div>
  <div><img src="/products/brokenjoe.jpg"></div>
  <div><img src="/products/common.jpg"></div>
  <div><img src="/products/dave.jpg"></div>
  <div><img src="/products/glasses1.jpg"></div>
  <div><img src="/products/glasses2.jpg"></div>
  <div><img src="/products/glasses3.jpg"></div>
  <div><img src="/products/glasses4.jpg"></div>
  <div><img src="/products/handmedowns.jpg"></div>
  <div><img src="/products/karma.jpg"></div>
  <div><img src="/products/lust.jpg"></div>
  <div><img src="/products/question.jpg"></div>
  <div><img src="/products/scotty.jpg"></div>
 </div>
  
</div>