<div class="carts-container">
 
 <% if flash[:message] %>
  <%= flash[:message] %>
 <% end %>
 
 <% @reviews.each do |review| %>
   <%= render :partial => 'shared/product_picture', :locals => {:review => review} %>
   <%= render :partial => 'shared/review', :locals => {:review => review} %>
  <% end %>
  
 <%= button_to "back", user_path(current_user), :method => 'get' %>
</div>
