<p><%= render :partial => 'shared/product_picture', :locals => {:review => @review} %></p>

<h3>New Review</h3>
<div class="new-review-container">
 <%= render :partial => 'shared/form', :locals => {:review => @review} %>
</div>





