
<header>
 <nav>
  <a href="#" class="toggle-menu">&#9776;</a>
   <ul class="nav-list nav-open" id="nav">
    <li><a href="/">HOME</a></li>
    <li class="has-submenu"><a href="/">SHOP COLLECTION</a>
      <ul>
        <li><a href="#">Most Popular</a></li>
        <li><a href="#">Customizable</a></li>
        <li><a href="#">New</a></li>
      </ul>
     </li>
    <li class="has-logo"><a href="/">
      <h2 class="site-title">
       <img src="/lg_compass.jpeg" alt="lostgenerationcompass">
      </h2>
    </a></li>
    <li class="has-submenu"><a href="/">CONTACT</a>
      <ul>
       <li><a href="#">Email</a></li>
       <li><a href="#">Phone</a></li>
       <li><a href="#">Social Media</a></li>
      </ul>
     </li>
    <li class="has-submenu"><a href="/login">SIGNIN</a>
     <ul>
       <li><a href="/signup">create account</a></li>
     </ul>
    </li>
    <li>
     <p class="shopping-cart">
      <a href="#"><img src="/shopping_cart.jpeg"></a>
     </p>
    </li>
      
  </ul>
 </nav>
</header>



  
