<div class="logo-container">
  <div class="logo">
   <a href="#"><img src="/lg_lostgeneration.jpeg" alt="Lost Generation"></a>
  </div> 
</div>


<nav>
      
  <ul>
   <li><a href="x">HOME</a></li>
   <li><a href="x">SHOP COLLECTION</a></li>
  
  <div class="compass">
   <a href="#"><img src="/lg_compass.jpeg" alt="Lost Generation Compass"></a>
  </div>
  
   <li><a href="x">ABOUT US</a></li>
  </ul>
</nav>

