<li>
  <div><a href=<%= user_orders_path(session_user) %>><div class="email"><%= session_user.email %></div></a></div>
  <div><a href=<%= logout_path %>>(logout)</a></div>
</li>

<li>
 <p class="shopping-cart">
  <a href=<%= user_cart_path(session_user, current_cart) %>><img src="/assets/navigation/shopping_cart.jpeg"></a>
 </p>
</li>